body {
    text-align: center;
    background-color: #f0f0f0;
}

#gameCanvas {
    border: 1px solid black;
    background: #70c5ce;
    background-image:
        radial-gradient(circle at 10% 20%, #fff 5%, transparent 5.5%),
        radial-gradient(circle at 80% 30%, #fff 4%, transparent 4.5%),
        radial-gradient(circle at 40% 70%, #fff 6%, transparent 6.5%),
        radial-gradient(circle at 90% 80%, #fff 3%, transparent 3.5%);
}

#gameOverScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}